<mat-card>
  <p mat-dialog-title>{{data.title}}</p>
  <p display-2>{{data.message}}</p>

  <div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Nein</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Ja</button>
  </div>
</mat-card>
