<li [ngClass]="{
               'list-group-item': true,
               'list-group-item-success': apparat?.status === 'an',
               'list-group-item-danger': apparat?.status === 'aus'
               }">
  <div class="inline">
    <div style="width: 20px;height: 20px;background-color: red;display: inline-block"
         *ngIf="apparat?.status === 'aus'">
    </div>
    <p style="float: right; display: inline-block">{{lastUpdate | date: "short"}}</p>
    <button class="btn btn-success"
            style="float: right"
            *ngIf="apparat?.status === 'aus'"
            (click)="onSwitch()">Anschalten</button>
    <button class="btn btn-danger"
            style="float: right"
            *ngIf="apparat?.status === 'an'"
            (click)="onSwitch()">Ausschalten</button>
  </div>
  <h4 [style]="{color: getColor()}">Apparat : {{apparat?.name}} -- Status : {{ getStatus()}}</h4>
  <p>{{apparat?.content}}</p>
  <!--<input type="text" class="form-control" [(ngModel)]="apparatName"> -->
  <button class="btn btn-success"
          [disabled]="isLike"
          (click)="onAnschalt1()">Love it!</button>{{apparat?.love}}
  <button class="btn btn-danger"
          [disabled]="isUnlike"
          (click)="onAnschalt2()">Don't love it!</button>{{apparat?.disLove}}
</li>
