<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-appareil *ngfor="let apparat of apparate; let i = index"
                    [apparat]="apparate">
      </app-appareil>
      <!--<app-apparat-view></app-apparat-view>-->
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Authentification</a></li>
        <li class="active"><a href="#">Apparate</a></li>
      </ul>
    </div>
  </div>
</nav>
